.checked {
    color: rgb(194, 23, 37);
    
  }
.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: left;
  }
 p {
margin-top: 0px;
 } 
.panel__heading--red-bar{
  padding-left:25px;width:100%;overflow-x:hidden;overflow-y:hidden;position:relative}
.panel__heading--red-bar::before{
background-color:#2b2158;content:' ';
min-width:20px;height:20px;position:absolute;
left:0}
.panel__heading--red-bar::after{
position:absolute;margin-left:11px;width:100%;
background-color:#2b2158;min-width:20px;
height:20px}
.panel__heading--red-bar::after,.panel__heading--red-bar::before{
top:8px}
@media (min-width:768px)
{.panel__body{padding:15px}.panel__heading--red-bar{padding:10px 15px 10px 25px}
.panel__heading--red-bar::after{
content:' '}
.panel__heading--red-bar::after,.panel__heading--red-bar::before{top:15px}}
.layout__column--sidebar .panel__heading--red-bar::after{content:none}
/* navbar */
.black-border{
  border:black solid;
  outline-color: #000000;
}
.text-bold{
  font-weight: bold;
  
}
.dflex{
  display:flex;
}
#bg-img{
  background-image: url(stadium.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
  background-position: center;
  background-attachment: fixed;
}
#bg-img1{
  background-image: url(whitebackground.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
  background-position: center;
  background-attachment: fixed;
}
.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center;
}
.slider-title_box {
  text-align: center;
}
.mt-4{
  margin-top: 1.5;

}
.btn-group{
  position: relative;
  display: inline-flex;
  display: inline-flex;
  vertical-align: middle;
  width: 50%;
}
.btn-group1 {
  padding: 24px;
  width: 60%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border:solid;

}
.btn-form {
  font-weight: 400;
  font-size: 15px;
  padding: 17px;
  width: 40%;
  background: black;
  color: #ffffff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.search-icon {
  font-size: 15px;
  padding-right: 10px;
}

.open_sans{
  font-family: "Open Sans", sans-serif;
}


.smaller {
  font-size: 80%;
}
small {
  font-size: 80%;
}
.social-icon {
  padding-left: 527px;
}
.celebrity-quotes-dialog {
  border-bottom: 1px solid #F3F3F3;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.rt-font-reg {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .25px;
}

.rt-font-frank-med {
  font-family: 'Franklin Gothic FS Med',-apple-system,BlinkMacSystemFont,'PT Sans',Arial,Sans-Serif;
}
.celebrity-quotes-dialog__quote {
  width: calc(100% - 125px);
  padding-left: 20px;
}
.rt-font-reg--tall {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .25px;
}
.rt-font-frank-book {
  font-family: 'Franklin Gothic FS Book',-apple-system,BlinkMacSystemFont,'PT Sans',Arial,Sans-Serif;
}
blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
body,li {
  font-family : 微软雅黑,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#base_container {
  padding: 100px
}
div.polaroid {
   width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}  
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 170px;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.nodeListedOn__item {
  margin: 16px 0;
  background-color: #e8e5e5;
  padding-right: 14px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 325px 169px;
  
  text-decoration: none;
  padding: 14px 0 14px 274px;
}

.relative {
  position: relative!important;
}
/* div {
  overflow: hidden; 
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */


div {
  display: block;
}

.nodeListedOn__item:before {
  z-index: 1;
  background: linear-gradient(90deg,#e8e5e5 0,rgba(232,229,229,0) 37%);
}
.nodeListedOn__item:after, .nodeListedOn__item:before {
  content: "";
  display: block;
  width: 168px;
  height: 168px;
  top: 0;
  right: 0;
  position: absolute;
}
.nodeListedOn__item:after {
  background-size: 168px 168px;
  background-repeat: no-repeat;
  opacity: .15;
  z-index: 0;
}




.nodeListedOn__moreInfo--noTrivia {
  width: auto;
  padding-left: 0;
}

.nodeListedOn__moreInfo {
  float: right;
  padding-top: 13px;
  z-index: 3;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
}
.black {
  color: #000;
}
.block {
  display: block;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.nodeListedOn__moreInfo--noTrivia:before {
  display: none;
}
.nodeListedOn__moreInfo:before {
  content: "";
  display: block;
  position: absolute;
  left: -14px;
  top: 8px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #e8e5e5;
}
.nodeListedOn__itemRanking {
  float: right;
  background-color: rgba(0,0,0,.4);
  width: 95px;
  height: 76px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -27px -14px 0 14px;
  font-size: 15px;
}
.white {
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}
.flex {

  display: flex;
}

.nodeListedOn__itemRankingPos {
  font-size: 30px;
  margin-bottom: 6px;
}
.robotoC {
  font-family: Roboto Condensed,RobotoCondensed-Bold,Roboto,Arial,Helvetica,sans-serif;
}

.inlineBlock {
  display: inline-block;
}
strong {
  font-weight: 700!important;
}
strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

strong {
  font-weight: bold;
}
.nodeListedOn__itemMeta {
  z-index: 2;
}

.nodeListedOn__itemMeta {
  background-color: hsla(0,0%,100%,.85);
  padding: 15px 20px 20px;
  min-height: 105px;
  line-height: 20px;
  text-decoration: none;
  flex-direction: column;
  font-size: 15px;
  font-weight: 300;
}
.grey {
  color: #646464;
}



.nodeListedOn__itemTitle {
  font-size: 30px;
  line-height: 33px;
  font-weight: 300;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.nodeListedOn__itemCount {
  line-height: 15px;
  margin-bottom: 14px;
  font-weight: 700;
}